__pycache__/
*.bat
*.bin
*.zip
Redirection_Patch/
MovesInGame/
*_array.json
*_table.json
*_0.trsog
*_1.trsog
*_0.trsot
*_1.trsot
HikoNushi_0.trscn
HikoNushi_1.trscn
flatc/*.bat
json_output
*.trpfd
output/*
data.json
Randomizer/StartersGifts/pokemon_clean
Randomizer/StartersGifts/output
.idea
randomizer-patched/
randomizer-patched-shiny/
randomizer-shiny/
.DS_store
Randomizer/WildEncounters/Debugging
Randomizer/PersonalData/Debugging
Randomizer/WildEncounters/az_areas_mapping.json
Randomizer/WildEncounters/blueberry_areas_mapping.json
Randomizer/WildEncounters/kitakami_areas_mapping.json
Randomizer/WildEncounters/paldea_areas_mapping.json